<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rondon</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="/_css/main.min.css" rel="stylesheet">
  <link href="/_css/style.css" rel="stylesheet">
  <script src="https://cdn.lordicon.com/lordicon.js"></script>
  <style>
    section{
      padding: 0px 0;
    }
  </style>
</head>
<body>

  <!-- navbar -->
  

  <!-- main image & intro text -->
  <section id="intro" style="background-image: url('./_img/background.png'); background-size: 100%">
    <nav class="navbar navbar-expand-md pt-1 pb-1">
      <div class="container-xxl">

          <img src="./_img/rpa_logo.png" alt="logo_rpa" width="150px" img style="padding: 10px;">
 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
          <ul class="navbar-nav px-4">
            <li class="nav-item px-3">
              <a class="nav-link text-white" href="/index.html"><strong>Home</strong></a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-white" href="/desenvolvedor.html"><strong>Serviços</strong></a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-white" href="#contact"><strong>Funcionalidades</strong></a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-white" href="#contact"><strong>Preço</strong></a>
            </li>
            <li class="nav-item px-3">
              <button type="button" class="btn btn-warning">CONTATE</button>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    
    <div class="container">
      <div class="row pt-5">
        <div class="col">
          <h1 class="display-1 text-white"><strong>Automação Digital</strong></h1>
          <h1 class="display-6 text-white mt-5" style="margin-bottom: 20vh">Simplifique processos e maximize resultados com nossos serviços de programação.</h1>
        </div>
        <div class="col text-center">
          <img src="./_img/celular.png" alt="celular" width="200px">
        </div>
      </div>
    </div>
  </section>

  <section id="intro" class="pt-5 pb-5" style="background-color: #13072e; "> 
    <div class="container" style="background-image: linear-gradient(to right, #13072e ,#3f2182);">
      <div class="row pt-5">
        <div class="col">
          <button class="button-18" role="button">#solucoespersonalizadas</button>
          <h1 class="display-6 text-white mt-3"><strong>Soluções únicas para o seu negócio</strong></h1>
          <p class="text-white mt-3">Entendemos que cada negócio é único. É por isso que oferecemos soluções personalizadas para atender exatamente às suas necessidades.</p>
          <button class="button-branco mt-2" role="button">Contate hoje<img src="./_img/seta-direita.png" style="width: 30px; margin-left: 5px;"></button>
        </div>
        <div class="col text-center">
          <img src="./_img/notebook1.png" alt="notebook1" width="300px">
        </div>
      </div>
    </div>
  </section>

  <section id="pricing" class="pt-3 pb-5">
    <div class="container-lg">
      <!-- <div class="text-center text-white">
        <h2>Uma vida grandiosa</h2>
        <p class="lead text-white">Merecedor de um lugar no Livro dos Heróis da Pátria, guardado no Panteão da Pátria, em Brasília-DF, Rondon teve uma vida digna dos maiores personagens da humanidade.</p>
      </div> -->

      <div class="row my-1 align-items-center justify-content-center">
        <div class="col-8 col-lg-4 col-xl-3 pb-3">
          <p class="display-8 my-2 text-primary fw-bold text-center">Site personalizado</p>
          <div class="card border-0" style="background-image: linear-gradient(#13072e ,#3f2182);">
            <div class="card-body">
              <p class="card-text text-white d-lg-block">A partir de</p>
              <p class="card-text text-white d-lg-block display-6"><strong>R$ 1.500,00</p></strong>
              <p class="text-white">Sites com expertise avançada, design profissional, agilidade incomparável e total segurança na contratação</p>
              <p class="text-white"><lord-icon
                src="https://cdn.lordicon.com/cgzlioyf.json"
                trigger="hover"
                colors="primary:#ffffff"
                style="width:30px;height:30px; padding-top: 4%; margin-right: 3%;">
            </lord-icon>Design personalizado</p>
              <p class="text-white"><lord-icon
                src="https://cdn.lordicon.com/cgzlioyf.json"
                trigger="hover"
                colors="primary:#ffffff"
                style="width:30px;height:30px; padding-top: 4%; margin-right: 3%;">
            </lord-icon>Site institucional</p>
              <p class="text-white"><lord-icon
                src="https://cdn.lordicon.com/cgzlioyf.json"
                trigger="hover"
                colors="primary:#ffffff"
                style="width:30px;height:30px; padding-top: 4%; margin-right: 3%;">
            </lord-icon>Landing page</p>
              <p class="text-white"><lord-icon
                src="https://cdn.lordicon.com/cgzlioyf.json"
                trigger="hover"
                colors="primary:#ffffff"
                style="width:30px;height:30px; padding-top: 4%; margin-right: 3%;">
            </lord-icon>Aparência profissional</p>
            <button class="button-branco mt-2" role="button">Contate agora<img src="./_img/seta-direita.png" style="width: 30px; margin-left: 5px;"></button>
            </div>
          </div>
        </div>

        <div class="col-8 col-lg-4 col-xl-3 pb-3">
          <p class="display-8 my-2 text-primary fw-bold text-center">Robô Whatsapp</p>
          <div class="card border-0" style="background-image: linear-gradient(#13072e ,#3f2182);">
            <div class="card-body">
              <p class="card-text text-white d-lg-block">A partir de</p>
              <p class="card-text text-white d-lg-block display-6"><strong>R$ 1.000,00</p></strong>
              <p class="text-white">Robôs para WhatsApp com o poder da inovação e IA, entregando agilidade, design moderno</p>
              <p class="text-white"><lord-icon
                src="https://cdn.lordicon.com/cgzlioyf.json"
                trigger="hover"
                colors="primary:#ffffff"
                style="width:30px;height:30px; padding-top: 4%; margin-right: 3%;">
            </lord-icon>Personalizado</p>
              <p class="text-white"><lord-icon
                src="https://cdn.lordicon.com/cgzlioyf.json"
                trigger="hover"
                colors="primary:#ffffff"
                style="width:30px;height:30px; padding-top: 4%; margin-right: 3%;">
            </lord-icon>Customização total</p>
              <p class="text-white"><lord-icon
                src="https://cdn.lordicon.com/cgzlioyf.json"
                trigger="hover"
                colors="primary:#ffffff"
                style="width:30px;height:30px; padding-top: 4%; margin-right: 3%;">
            </lord-icon>Escalabilidade</p>
              <p class="text-white"><lord-icon
                src="https://cdn.lordicon.com/cgzlioyf.json"
                trigger="hover"
                colors="primary:#ffffff"
                style="width:30px;height:30px; padding-top: 4%; margin-right: 3%;">
            </lord-icon>Flexibilidade</p>
              <button class="button-branco mt-2" role="button">Contate agora<img src="./_img/seta-direita.png" style="width: 30px; margin-left: 5px;"></button>
            </div>
          </div>
        </div>

        <div class="col-8 col-lg-4 col-xl-3 pb-3">
          <p class="display-8 my-2 text-primary fw-bold text-center">Automações</p>
          <div class="card border-0" style="background-image: linear-gradient(#13072e ,#3f2182);">
            <div class="card-body">
              <p class="card-text text-white d-lg-block display-6 pb-1"><strong>Faça sua cotação</p></strong>
              <p class="text-white pb-5">Oferecemos serviços de automação utilizando ferramentas poderosas como UI Vision e outras plataformas avançadas, permitindo a automação de processos complexos, integrações robustas e customizações específicas para maximizar a eficiência do seu negócio.</p>
              <button class="button-branco mt-2" role="button">Contate agora<img src="./_img/seta-direita.png" style="width: 30px; margin-left: 5px;"></button>
            </div>
          </div>
        </div>
      </div>

    </div><!-- end container -->
  </section>

  <!-- topics at a glance -->
  <section id="topics" style="background-image: url('_img/fundo.png'); background-size: cover;">
    <div class="container-md pt-4 pb-3">
      <div class="text-center">
        <h2 class="text-white pt-2">O QUE PODE SER AUTOMATIZADO</h2>
      </div>
      <div class="row my-5 justify-content-around">
        <div class="col-6 col-lg-4">
          <img src="./_img/celular.png" alt="tela" style="size: 500px; padding-left: 30%;">
        </div>
        <div class="col-lg-6">
          
          <!-- accordion -->
          <div class="accordion" id="chapters">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-1" aria-expanded="true" aria-controls="chapter-1">
                  Agendamento
                </button>
              </h2>
              <div id="chapter-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>Clientes podem agendar serviços ou compromissos a qualquer hora, sem precisar esperar por um atendente.</p>
         </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-2" aria-expanded="false" aria-controls="chapter-2">
                  Orçamentos
                </button>
              </h2>
              <div id="chapter-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>Agilize o processo de criação e envio, reduza erros, melhore a precisão dos cálculos e faça um acompanhamento mais eficiente das propostas.</p>
                  </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-3" aria-expanded="false" aria-controls="chapter-1">
                  Pedidos
                </button>
              </h2>
              <div id="chapter-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <P>Otimize o processamento, reduza erros, acelere o atendimento e garanta um fluxo eficiente desde a solicitação até a entrega.</P>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-4" aria-expanded="false" aria-controls="chapter-4">
                  Muito mais
                </button>
              </h2>
              <div id="chapter-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>A automação proporciona eficiência, precisão e escalabilidade, otimizando processos diversos.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- open sidebar / offcanvas 
          <a href="#sidebar" class="d-block mt-3" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
            Aprenda mais aqui
          </a>
          <a href="#sidegaleria" class="d-block mt-3" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
            Registros fotograficos da expedicao
          </a>-->
        </div>
      </div>
    </div>
  </section>

  <!-- reviews list -->
  <section id="reviews" style="background-color: #13072e; ">
    <div class="container-lg pt-5">
      <div class="text-center">
        <h2 class="text-WHITE">NOSSOS SERVIÇOS</h2>
      </div>
      
        <div class="row pt-2 pb-5" style="padding-right: 10%; padding-left: 10%;">
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <lord-icon
                src="https://cdn.lordicon.com/dmgxtuzn.json"
                trigger="hover"
                colors="primary:#ffffff,secondary:#e8e230"
                style="width:100px;height:100px">
                </lord-icon>
              </div>         
              <div class="col-8">
                <p class="text-white mt-3">Serviços de automação de WhatsApp</p>
                <p class="text-white mt-3">Desenvolvimento de Sites e Landpages</p>
              </div>
            </div>
          </div>
          
          <div class="col">
            <div class="row">
              <div class="col-4">
                <lord-icon
                src="https://cdn.lordicon.com/hnppcsvw.json"
                trigger="hover"
                colors="primary:#ffffff,secondary:#e8e230"
                style="width:100px;height:100px">
                </lord-icon>
              </div>         
              <div class="col">
                <p class="text-white mt-3">Web design</p>
                <p class="text-white mt-3">Programação Personalizada</p>
              </div>
            </div>
          </div>
        </div>
      
      <div class="container" style="background-image: linear-gradient(to right, #13072e ,#3f2182);">
        <h2 class="text-white pt-5">Entre em contato</h2>
        <form action="https://formsubmit.co/29762a7840b7405184f266928d1109a3" method="POST" class="form"></form>
          <div class="row">
            <div class="col-6">        
                    <div>
                    <label for="name" class="form-label text-white">Nome:</label>
                      <div class="mb-4 input-group">
                        <span class="input-group-text">
                          <i class="bi bi-person-fill text-secondary"></i>
                        </span>
                        <input type="text" name="name" id="name" class="form-control" placeholder="e.g. Mario" required/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="email" class="form-label text-white">E-mail:</label>
                        <div class="input-group mb-4">
                          <span class="input-group-text">
                            <i class="bi bi-envelope-fill text-secondary"></i>
                          </span>
                          <input type="text" name="email" id="email" class="form-control" placeholder="e.g. mario@example.com" required/>
                          <!-- tooltip -->
                          <span class="input-group-text">
                            <span class="tt" data-bs-placement="bottom" title="Escreva um e-mail para que possamos retornar.">
                              <i class="bi bi-question-circle text-muted"></i>
                            </span>
                          </span>
                        </div>
                      </div>                        
                      <div class="col">
                        <label for="telefone" class="form-label text-white">Telefone:</label>
                        <div class="input-group mb-4">
                          <input type="text" name="telefone" id="telefone" class="form-control" placeholder="(xx) xxxxx-xxxx" required/>
                      </div>
                    </div>
              </div>
            </div>
            <div class="col-6">    
                  <div class="mb-4 mt-2 form-floating">
                    <textarea class="form-control" name="message" id="message" style="height: 140px" placeholder="message" required></textarea>
                    <label for="message">Seu texto...</label>
                  </div>
                  <div class="mb-4 text-center">
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                  </div>
            </div>
          </div>
        </form> 
     
        
      
    </div>
  </section>

  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script>
    const tooltips = document.querySelectorAll('.tt')
    tooltips.forEach(t => {
      new bootstrap.Tooltip(t)
    })
  </script>
</body>
</html>